<app-header></app-header>

<div class="container-lg">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione exercitationem asperiores facere ducimus hic
        reiciendis vero harum quo, laudantium sequi temporibus inventore voluptatibus dolores repellendus. Quibusdam
        explicabo provident inventore beatae?
        Sapiente iure atque eius corporis quibusdam officia mollitia blanditiis natus hic tempora non dolores expedita
        debitis quae nostrum sint sunt animi modi omnis, nesciunt tempore magnam! Eveniet iure at magni.
        Consequuntur rerum illo obcaecati animi? Reprehenderit, blanditiis iusto. Aliquid sunt porro, tempore iusto
        laborum voluptates provident dolorem doloribus deleniti atque animi. Laboriosam eos quae amet temporibus
        asperiores, praesentium possimus explicabo.
        Ut saepe, inventore itaque officiis magnam placeat? Harum reprehenderit fugit repellat perspiciatis earum sint
        voluptates magnam ducimus iste libero non dolores, voluptatibus voluptate vero aliquid obcaecati molestias,
        nesciunt minima aliquam!
        At nihil mollitia eligendi inventore iure delectus illum ea iste pariatur consequuntur illo, soluta ullam
        doloribus nobis aut animi optio eos ad omnis id. Ipsum molestias quam quo quibusdam voluptate?
        Harum voluptates, minus odit quo distinctio dignissimos aperiam eveniet nihil ipsam excepturi fugiat a. Rem
        aliquam minima eos, eligendi praesentium ad id vitae et modi maiores libero distinctio, eum recusandae?
        Cumque soluta ipsum, voluptate non excepturi ut quas, reprehenderit est nobis aliquid explicabo. Quibusdam
        tempora placeat, quas quam aut recusandae obcaecati, ullam, sunt asperiores deleniti voluptatem veniam ex
        provident accusamus!
        Hic suscipit cum earum maxime quia reprehenderit repellat! Eveniet nostrum necessitatibus itaque quod sunt, vel
        maxime, fuga totam, perspiciatis laborum voluptate delectus? Optio eos eum voluptas. Porro sint quisquam eum.
        Aspernatur fugit amet minima nemo, eos corrupti autem incidunt? Odit voluptates iste nihil aliquam, cum dolorum
        dignissimos deleniti eos sint quia placeat! Possimus cum laudantium veniam porro optio? Dolor, impedit.
        Est assumenda velit repudiandae, alias aut modi ipsam tenetur quas, pariatur, officiis temporibus porro ab iusto
        voluptas corporis error cumque facilis expedita dolore nulla laboriosam consequatur! Iste veritatis consequuntur
        provident.</p>
</div>

<div>
    <button class="btn btn-primary" routerLink="/ecoles/allEcoles">All ecoles</button>
</div>

<app-footer></app-footer>